#indoor-div{
    width: 100%;
    height: 1000px;
    background:rgba(0,0,0,0.4) url(/Plant-Nursery-Business-Plan1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding-right: 40px;
    padding-left: 101;
    text-align: center;
}
#Indoor-heading{
    color: white;
    font-family:fantasy;
    padding-top: 15px;
    font-size: 55px;
}
#Indoor-heading:hover{
    color: rgb(238, 155, 59);
    text-shadow: 3px 3px 1px rgb(100, 94, 94);
}
.card-img-top{
    height: 200px;
    width: 275px;
    padding-top: 5px;
    border-radius: 50px;
    opacity: 0.6;
}
.card-img-top:hover{
    opacity: 1;
}
.card{
    height: 385px;
    width: 400px;
    margin-left: 30px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 20px;
}
#scroll{
    position: fixed;
    z-index: 1;
    position: fixed;
    z-index: 1;
    top: 88%;
    bottom: 0;
    right: 3%;
    width: 5%;
}
#scroll img{
    width: 100%;
}
#scroll img:hover{
    background-color: rgb(28, 103, 124);
}